@charset "utf-8";
/* CSS Document */


* {
    margin: 0px auto;
    padding: 0px;
}
body {
    overflow-x: hidden;
    margin-top: 0;
    padding-top: 0;
    
   
    
}
.header {
   
        background:#000;
         float:left; 
        width:100%;
        position:relative;
        z-index:999;
        top: 0;
        
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-bottom: 1px solid #fff;
    }


.wraper {
    width: 100%;
}

.logo {
    width: 10%;
    float: left;
}

.logo img {
    width: 40px;
    padding: 9px 4px 2px 6px;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    float: right;
  
}

.menu ul li {
    float: left;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding: 14px 25px;
    float: left;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.menu ul li a:hover {
    color: red;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* ----- end of container stylings ----- */

/* provides padding to main heading */
.main-heading {
    padding: 2rem 0 2rem 0;
}

.content {
    position: relative;
    padding-top: 40px;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
    position: absolute;
    /*to center the content horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}

.carousel-heading {
    font-size: 3rem;
    color: #308d46;
    margin-bottom: 1rem;
}

/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
    height: 100%;
    /* to hide slides in x-direction */
    position:relative;
}

/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
     display: flex; 
    /* We give it width as 400% because we are making a 
               4 image carousel. If you want to make for example, 
               5 images carousel, then give width as 500%. */
    width: 100%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
    padding:0px;
}

/* define width and height for images*/
.slide {
    /* width: 100%;
    height: 100%; */
}
.f-slide img{width:100%;}

.slide img {
    width: 100%;
}

/* @keyframes are used to provide animations
           We make these settings for 4 image carousel.
           Make modification according to your needs. */
@keyframes slideshow {
    0% {
        left: 0;
    }

    10% {
        left: 0;
    }

    15% {
        left: -100%;
    }

    25% {
        left: -100%;
    }

    30% {
        left: -200%;
    }

    40% {
        left: -200%;
    }

    45% {
        left: -300%;
    }

    55% {
        left: -300%;
    }

    60% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: 0%;
    }
}

/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;
    /* stylings for positioning the buttons at
               the bottom of the carousel */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

/* As we provide position as absolute, 
        the buttons places one over the other. 
        So, we have to place them individually
        at their correct positions. */
.slide-btn-1 {
    left: 45%;
}

.slide-btn-2 {
    left: 50%;
}

.slide-btn-3 {
    left: 55%;
}

.slide-btn-4 {
    left: 60%;
}

/* When we focus on the particular button, 
        the animation stops to that particular image 
        to which the button is associated. */
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}

.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}

.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}

.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}

/* when we focus on the button, the background color changes */
.slide-btn:focus {
    background-color: #308d46;
}



.box {

    width: 400px;
    height: 600px;
    float: left;
    background: #d41e5b;
    align-items: center !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}



.box h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    float: left;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 60px;
    text-transform: uppercase;
}

.itembox {
    width: 849px;
    height: 500px;
    float: right;
    background: #181818;
    padding: 50px;
}

.itembox h1 {
    float: left;
    text-align: left;
    width: 100%;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 45px;
    line-height: 43px;
    padding-bottom: 84px;
}

.itembox span {
    color: #d41e5b;
}

.icon-bx {
    margin-bottom: 15px;
    height: 200px;
    background: #292828;
    padding: 19px;
    border-radius: 15px;
}

.ibx {
    height: 100%;
    margin-right: 20px;
}

/* .ibx img {
    width: 89px;
    height: 60%;
}  */


.cntbx {
    height: 150px;
}
.sec1-left-bg {
    background: #d41e5b;
    color: #fff;
    height: 100%;
    padding: 130px;
}
.sec5-left-bg {
    background: #d41e5b;
    color: #fff;
    height: 100%;
    padding: 130px;
    /* padding-bottom: 90px; */
}

.sec1-right-bg{
    background: #181818;
    color: #fff;
}
.cntbx h4 {
    color: #fff;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    padding-bottom: 15px;
    font-size: 20px;
}

.cntbx p {
    color: #fff;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
}

.wwd1 {
    background: #505cc1;
    align-items: center !important;
    color: #fff;
    height: 100%;
 
}

.wwd1 h1 {
    /* font-size: 80px; */
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    margin:  0 auto;
    top:35%
}




/* Create four equal columns that floats next to each other */
.column {
    float: right;
    width: 25%;

}



/* Content */
.content {
    color: white;

    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.items1-bx {
    background: #181818;
    padding: 36px;
    color: white;
    

}

.column h3 {
    padding: 10px;
}

.wwd2 {
    background: #fcb900;
    text-align: center !important;
    color: #fff;
}

.wwd2 h1 {
    font-size: 80px;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
}



.itembox2 {
    background: #181818;
     padding: 20px; 
}

.itembox2 h2 {
    float: left;
    text-align: left;
    width: 100%;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 35px;
    line-height: 43px;
    padding-top: 28px;
}

.wwd3 {
    /* width: 400px;
    height: 622px; */
    float: left;
    background: #505cc1;
    align-items: center !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wwd3 h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    float: left;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 60px;
    text-transform: uppercase;
}


.wwd5 {
    width: 400px;
    height: 622px;
    float: left;
    background: #7f8274;
    align-items: center !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wwd5 h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    float: left;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 60px;
    text-transform: uppercase;
}

.wwd5 h1 {
    text-align: center;
    font-size: 70px;
    margin-top: -10px;
}

.wwd5 h1 h2 {
    text-align: center;
    font-size: 70px;
    margin-top: -10px;
}

input.no-outline,
textarea.no-outline {

    background-color: #181818;
    border: 0px solid #181818;
    width: 100%
}

input:focus-visible,
textarea:focus-visible {

    background-color: #181818;
    border: 0px solid #181818;
    width: 100%;
    padding-bottom:20px;

}
.footer-content{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: content;
    text-align: center;
    background-color:#000;
    color:white;
	float: left;
    width: 100%;
	padding: 15px 0px;
    bottom:0;
    
}
.footer-content h5{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
}
.footer-content h4{
    max-width: 500px;
    margin: 10px auto;
    line-height: 17px;
    font-size: 14px;
    color: #cacdd2;
}
.container2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 1100px;
	height: 550px;
}
footer{
    /* position:absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    
    color: #fff;
}
.input_field{
    margin-bottom: 15px;
}
.mr-auto{
    text-align: center;
}
.form-control{
    width: 50% !important;
    display: initial !important;
}
.sec2-left-bg {
    background: #ffa83d;
    /* color: rgb(85, 83, 83); */
    height: 100%;
    padding: 130px;
    color: white;
    text-align: center;

}
 .text{
    text-align: center;
    padding-bottom: 20px;
}

.sec3-left-bg {
    background: #000000;
    /* color: rgb(85, 83, 83); */
    height: 100%;
    padding: 130px;
    color: white;text-align: center;

}
.sec4-left-bg {
    background: #505cc1;
    /* color: rgb(85, 83, 83); */
    height: 100%;
    padding-top: 250px;
    
    text-align: center;
    color:white;
}
    

.v1{
    align-items:center;
padding-left:40px;
color:rgb(238, 195, 195); 
}
.col-md-8{
    background-color:#181818
}
#error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    width:96%;
  }
  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    color:white;
  }
  
  .wrapper .input_field{
    margin-bottom: 10px;
  }
  .cntct-bx{padding:25px;}
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
    border: 1px solid #b3acac;
    width: 96%;
    padding: 10px;
    background:white;
  }
  
  .wrapper textarea{
    resize: none;
    height: 80px;
  }
  
  .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #f1f0ee;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  
  #error_message{
    margin-bottom: 20px;
    /* background: #fe8b8e; */
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }
  .p-5 {
    padding: 30px;
}
.footer  footer-content{
    text-align: center;
    margin-top:20px;
}
.topnav {
     /* overflow: hidden;  */
    background-color: #333;
    max-width:inherit;
    
    width:100%;
    position:fixed;
    padding:0;
   }
  
  .topnav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    /* background-color: #04AA6D; */
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  #myNewImage { display:none; }
  .blog-heading h1, h5{
	text-align:center;
	width: 70%;
	 
  }
  @media (max-width:425px) {
    .sec1-left-bg{padding: 10px;text-align:center;}
    .sec4-left-bg{padding-top: 400px;text-align:center;}
    .sec2-left-bg{padding:10px;text-align:center;}
    .sec3-left-bg{padding:10px;text-align:center;}
    .sec5-left-bg{padding-top: 400px;text-align:center;} 
  }

  @media (max-width:1125px) {
  .sec4-left-bg{padding-top:350px;text-align:center;}
  .sec1-left-bg{padding: 85px;text-align:center;}
  .sec2-left-bg{padding:105px;text-align:center;}
  .sec5-left-bg{padding-top: 365px; text-align:center;}
  }
  @media (max-width:915px) and (min-width:280px){
    .sec4-left-bg{padding:10px;text-align:center;}
        .sec5-left-bg{padding:10px;text-align:center;}
        .sec1-left-bg{padding:10px;text-align:center;}
        .sec2-left-bg{padding:10px;text-align:center;}
        .sec3-left-bg{padding:10px;text-align:center;}
       
    
  }
  @media (max-width:1368px)  {
    .text h1 h2{
        text-align: center;
    
    }
    .sec5-left-bg{text-align:center;}
    
    
  }
  @media(max-width: 1180px) and (min-width:768px){ 
    
    .sec3-left-bg{text-align:center;padding-top: 160px;}
    .sec1-left-bg{text-align:center;padding-top: 100px;}
    .sec2-left-bg{padding-top:100px;text-align:center;}
    .sec5-left-bg {
        padding-top:370px;text-align:center;}
        .sec4-left-bg {
            padding-top:322px;text-align:center;}
    }
  
    
    .cntbx p {
        font-size: 15px;}
  
  
  .vv2{
    padding-top:30px;
  }
  
  @media (min-width: 1200px){ 
.navbar-expand-lg .navbar-nav-scroll{margin-left: 57% !important;}
}
@media (min-width: 992px) and (max-width: 1200px){ 
    .navbar-expand-lg .navbar-nav-scroll{margin-left: 46% !important;}
    }
    .paragraph-text{
        font-weight: bold;
        color: beige;
     }
     /* .navbar {
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width:100%;
        z-index: 999px;
      
    } */
    .bg-dark {
        background-color: #aaa!important;
        /* padding-top:12px; */
    }
    .navbar1 {
        position:relative;
        z-index:1;
       
       
         width: 100%;
        background-color: #ccc;
      }
     
    
    
      .sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
      }
       @media (max-width:280px)  {
        .cntbx p{
            line-height: 14px;
    font-size: 14px;
    text-align: center;

        }
       }
       @media (min-width:1024px){
        .sec5-left-bg{
            padding:144px;
        }
       }
       
    
    